# NPM Ignore file
# (Only needed if you don't use 'files' in package.json, 
# but it's good practice for local testing)

test/
.env
.github/
.vscode/
.gitignore
README.md
CHANGELOG.md

# Build artifacts (if any)
dist/
node_modules/
